<!--
  Generated template for the Devices page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="secondary">
    <ion-title>devices</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <!--<ion-list *ngFor="let device of response1?.devices">-->
    <!--<ion-item *ngIf="device.room == id">-->
        <!--<div *ngIf="device.category == 2 && device.room == id"><h3>Dimmable Switch</h3></div>
        <div *ngIf="device.category == 3 && device.room == id"><h3>On/Off Switch</h3></div>-->
        <!--<div class="range1" *ngIf="device.room == id"><ion-label>{{device.name}}</ion-label></div>
        <div class="range2" *ngIf="device.category == 2 && device.room == id"><ion-range min="0" max="100" (ionChange)="setDim($event,device.id)" [(ngModel)]="saturation" color="secondary"></ion-range>
        </div>
        <div class="range3" *ngIf="device.room == id && (device.category == 3 || device.category == 2)"><ion-toggle  (ionChange)="onDevice($event, device.id)"></ion-toggle></div>
        <div class="range4" *ngIf="device.room == id && (device.category == 4 || device.category == 7)"><h4 *ngIf="device.armed == '1'">ON</h4><h4 *ngIf="device.armed == '0'">OFF</h4></div>
        <div class="range5" *ngIf="device.room == id && device.category == 17"><h4>{{device.temperature}}°C</h4></div>-->
    <!--</ion-item>-->
    <h3 *ngIf="dimmableSwitch.length > 0" class="color">Dimmable Switch</h3>
    <ion-list *ngFor="let device of dimmableSwitch; let i = index">
      
      <div class="range1"><ion-label>{{device.name}}</ion-label></div>
      <div class="range2" ><ion-range min="0" max="100" (ionChange)="setDim($event,device.id)" [(ngModel)]="saturation1[i]" color="secondary"></ion-range>
        </div>
      <div class="range6"><ion-toggle  (ionChange)="onDevice($event, device.id)" [(ngModel)]="changeSwitch3[i]"></ion-toggle></div>
    </ion-list>
 
    <h3 *ngIf="onOffSwitch.length > 0" class="color">On/Off Switch</h3>
    <ion-list *ngFor="let device of onOffSwitch; let i = index">
      <div class="range1"><ion-label>{{device.name}}</ion-label></div>
      <div class="range3"><ion-toggle  (ionChange)="onDevice($event, device.id)" [(ngModel)]="changeSwitch2[i]"></ion-toggle></div>
    </ion-list>

    <h3 *ngIf="sensor.length > 0" class="color">Sensor</h3>
    <ion-list *ngFor="let device of sensor">
      
      <div class="range1"><ion-label>{{device.name}}</ion-label></div>
    </ion-list>

    <h3 *ngIf="thermostat.length > 0" class="color">Thermostat</h3>
    <ion-list *ngFor="let device of thermostat">
      
      <div class="range1"><ion-label>{{device.name}}</ion-label></div>
    </ion-list>

    <h3 *ngIf="camera.length > 0" class="color">Camera</h3>
    <ion-list *ngFor="let device of camera">
      
      <div class="range1"><ion-label>{{device.name}}</ion-label></div>
    </ion-list>

    <h3 *ngIf="doorlock.length > 0" class="color">Doorlock</h3>
    <ion-list *ngFor="let device of doorlock">
      
      <div class="range1"><ion-label>{{device.name}}</ion-label></div>
      <div class="range4"><h4 *ngIf="device.armed == '1'">ON</h4><h4 *ngIf="device.armed == '0'">OFF</h4></div>
    </ion-list>

    <h3 *ngIf="temperatureSensor.length > 0" class="color">Temperature Sensor</h3>
    <ion-list *ngFor="let device of temperatureSensor">
      
      <div class="range1"><ion-label>{{device.name}}</ion-label></div>
      <div class="range5"><h4>{{device.temperature}}°C</h4></div>
    </ion-list>

    <h3 *ngIf="lightSensor.length > 0" class="color">Light Sensor</h3>
    <ion-list *ngFor="let device of lightSensor">
      
      <div class="range1"><ion-label>{{device.name}}</ion-label></div>
    </ion-list>
  <!--</ion-list>-->
</ion-content>
